openapi: 3.0.3
info:
  title: 'Открытое API Bnovo PMS'
  description: "# Открытый API Bnovo\n\n## Общая информация\nAPI Bnovo – это программный интерфейс для интеграции. Позволяет внешним системам и сервисам безопасно обмениваться данными с Bnovo PMS в автоматическом режиме. С помощью API Bnovo отели и отраслевые компании могут интегрировать данные о бронированиях, номерах, платежах и гостях в собственные IT решения и системы (интранет, CRM, BI и др.).\n\nИнструкция по подключению: https://help.bnovo.ru/knowledgebase/открытое-api-bnovo-pms/\n\n## Доступные версии API Bnovo\n\n### API «Старт»\nСтартовая бесплатная версия API обеспечивает односторонний доступ к данным через GET эндпоинты и предназначена для получения актуальной информации о бронированиях из системы Bnovo PMS.\n\n### API «Профессионал»\nНовый уровень интеграционных возможностей. Профессиональная версия поддерживает двусторонний обмен данными через GET, PUT, POST эндпоинты, а также включает функцию вебхуков. Позволяет работать с данными о гостях, платежах, отчетности и дополнительных услугах. Бизнес-инструмент помогает не просто получать данные, а создавать на их основе собственные сервисы и встраивать Bnovo в сложные IT решения.\n\n## Как работает API Bnovo\nУправление интеграциями происходит в разделе **Bnovo Octopus** → **API доступ**. Здесь можно ознакомиться с функционалом доступных версий API (стартовой и профессиональной), а также получить уникальные API ключи и права доступа, необходимые для взаимодействия с выбранной версией. После настройки доступа вы сможете отправлять авторизованные запросы и получать необходимую информацию из Bnovo PMS автоматически.\n\n## Первое подключение\nПодключение API Bnovo доступно пользователям с типом аккаунта «Владелец». Откройте раздел Bnovo Octopus и пройдите авторизацию /api/v1/auth для получения JWT токена и корректной работы.\n\n## Обновить API ключ\nВы всегда можете обновить ключ, если данные пользователя или токены были скомпрометированы. Переподключение доступно после первой авторизации через /api/v1/auth.\n\nКнопка в интерфейсе **Обновить API ключ** генерирует новый пароль, отзывает все токены и завершает сессии на всех устройствах.\n\nДля продолжения работы повторно пройдите авторизацию, указав обновленные данные для подключения.\n\nИнструкция: https://help.bnovo.ru/knowledgebase/открытое-api-bnovo-pms/#section5\n\n## Количество запросов\nДля запроса на аутентификацию `/api/v1/auth` и обновления ключа API в системе установлено ограничение:\n - **10 запросов в минуту**\n\nДля всех остальных API запросов:\n- **30 запросов за 10 секунд**\n- **300 запросов за 5 минут**\n- **1000 запросов в час**\n- **10 000 запросов в сутки**\n\nПри превышении лимита появляется ошибка **429 Too Many Requests**\n\n## Устранение неполадок\n### 401 Unauthorized (Несанкционированный доступ)\nДля получения токена снова пройдите авторизацию в методе `/api/v1/auth`.\n### 429 Too Many Requests (Слишком много запросов)\nПревышен лимит по количеству запросов. Попробуйте отправить повторный запрос через 1 минуту.\n### Ошибки при создании или обновлении ключа через интерфейс\nОбновите страницу и повторите попытку через 30 секунд.\n"
  version: 1.0.0
servers:
  -
    url: 'https://api.pms.bnovo.ru'
tags:
  -
    name: Авторизация
    description: "\nМетоды для авторизации и управления токенами.\n\nВ приложении реализована JWT авторизация.\nДля получения токена, необходимо отправить запрос на метод POST /api/v1/auth, в теле запроса передать параметры, полученные в личном кабинете https://online.bnovo.ru/octopus в форме \"API ключи\".\nТокен имеет ограниченное время жизни. Если срок жизни токена истек или возвращаемый код ошибки 401, нужно получить новый токен.\nЧтобы получить новый токен, нужно отправить повторный запрос на POST /api/v1/auth\n\nПосле получения токена, в запросах необходимо передавать заголовок Authorization со значением Bearer {токен}.\nНапример Authorization Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vMC4wLjAuMDoyMDgwL2FwaS92MS9hdXRoIiwiaWF0IjoxNzQ3ODEwNTY4LCJleHAiOjE3ODQwOTg1NjgsIm5iZiI6MTc0NzgxMDU2OCwianRpIjoialNkNzhGT2tEd0FDUk5rMiIsInN1YiI6IjIiLCJwcnYiOiIyM2JkNWM4OTQ5ZjYwMGFkYjM5ZTcwMWM0MDA4NzJkYjdhNTk3NmY3In0.MQrgTy7KyJURwFoq3kiq0Y6RKVSIEAXvY66UM6DHq5o"
  -
    name: 'Старт -> Бронирования'
    description: ''
  -
    name: 'Профессионал -> Бронирования'
    description: ''
  -
    name: 'Профессионал -> Вебхуки'
    description: "\nМетоды для работы с вебхуками.\n\nРеализованы типы вебхуков: booking - получение событий (CRUD) бронирования и plans_data_update - изменение цены в тарифах\n\nДля получения событий, необходимо создать подписчика и указать url, на который будут отправлятся события.\nСобытие отправляется POST запросом. Протестировать событие можно в соответствующих эндпоинтах.\n\nВажно! Подключение к вебхукам занимает 24 часа (с момента создания подписчика). Тестовые события можно отправлять сразу."
  -
    name: 'Профессионал -> Гости'
    description: ''
  -
    name: 'Профессионал -> Комнаты'
    description: ''
  -
    name: 'Профессионал -> Наличие'
    description: ''
  -
    name: 'Профессионал -> Отчеты'
    description: ''
  -
    name: 'Профессионал -> Платежи'
    description: ''
  -
    name: 'Профессионал -> Страны'
    description: ''
  -
    name: 'Профессионал -> Счета'
    description: ''
  -
    name: 'Профессионал -> Тарифы'
    description: ''
  -
    name: 'Профессионал -> Типы комнат'
    description: ''
  -
    name: 'Профессионал -> Услуги'
    description: ''
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'Jwt токен. Получить его можно в методе /api/v1/auth'
security:
  -
    default: []
paths:
  /api/v1/auth:
    post:
      summary: 'Аутентификация пользователя'
      operationId: ''
      description: 'Аутентифицирует пользователя по ID и паролю, возвращает JWT токен'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    access_token: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vMC4wLjAuMDoyMDgwL2FwaS92MS9hdXRoIiwiaWF0IjoxNzQ3ODIyNjEwLCJleHAiOjE3ODQxMTA2MTAsIm5iZiI6MTc0NzgyMjYxMCwianRpIjoiY1NSck9NdE5jVEZQQnJNeiIsInN1YiI6IjIiLCJwcnYiOiIyM2JkNWM4OTQ5ZjYwMGFkYjM5ZTcwMWM0MDA4NzJkYjdhNTk3NmY3In0.ucbLHAE1LFMg56h2klC-QxF3XJ4juIQ15Bxe0AzuWHM
                    token_type: bearer
                    expires_in: 86400
                properties:
                  data:
                    type: object
                    properties:
                      access_token:
                        type: string
                        example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vMC4wLjAuMDoyMDgwL2FwaS92MS9hdXRoIiwiaWF0IjoxNzQ3ODIyNjEwLCJleHAiOjE3ODQxMTA2MTAsIm5iZiI6MTc0NzgyMjYxMCwianRpIjoiY1NSck9NdE5jVEZQQnJNeiIsInN1YiI6IjIiLCJwcnYiOiIyM2JkNWM4OTQ5ZjYwMGFkYjM5ZTcwMWM0MDA4NzJkYjdhNTk3NmY3In0.ucbLHAE1LFMg56h2klC-QxF3XJ4juIQ15Bxe0AzuWHM
                      token_type:
                        type: string
                        example: bearer
                      expires_in:
                        type: integer
                        example: 86400
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error:
                    code: 404
                    message: 'User not found'
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: 'User not found'
        406:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error:
                    code: 406
                    message: 'Validation error'
                    errors:
                      key: 'Поле обязательно для заполнения.'
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 406
                      message:
                        type: string
                        example: 'Validation error'
                      errors:
                        type: object
                        properties:
                          key:
                            type: string
                            example: 'Поле обязательно для заполнения.'
        429:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error:
                    code: 429
                    message: 'Too many requests'
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 429
                      message:
                        type: string
                        example: 'Too many requests'
      tags:
        - Авторизация
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: 'Идентификатор пользователя.'
                  example: 32145
                  nullable: false
                password:
                  type: string
                  description: 'Пароль пользователя.'
                  example: VQxZ0RZek1EV1dOZDRuUFJOSnlMdUs1M0JSQnpVVEV5MD18M2UzMzhhZjA0NmZhOTVlZD
                  nullable: false
              required:
                - id
                - password
      security: []
  /api/v1/auth/token:
    post:
      summary: 'Получить новый JWT токен'
      operationId: JWT
      description: 'Генерирует новый JWT токен'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    access_token: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vMC4wLjAuMDoyMDgwL2FwaS92MS9hdXRoIiwiaWF0IjoxNzQ3ODIyNjEwLCJleHAiOjE3ODQxMTA2MTAsIm5iZiI6MTc0NzgyMjYxMCwianRpIjoiY1NSck9NdE5jVEZQQnJNeiIsInN1YiI6IjIiLCJwcnYiOiIyM2JkNWM4OTQ5ZjYwMGFkYjM5ZTcwMWM0MDA4NzJkYjdhNTk3NmY3In0.ucbLHAE1LFMg56h2klC-QxF3XJ4juIQ15Bxe0AzuWHM
                    token_type: bearer
                    expires_in: 86400
                properties:
                  data:
                    type: object
                    properties:
                      access_token:
                        type: string
                        example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vMC4wLjAuMDoyMDgwL2FwaS92MS9hdXRoIiwiaWF0IjoxNzQ3ODIyNjEwLCJleHAiOjE3ODQxMTA2MTAsIm5iZiI6MTc0NzgyMjYxMCwianRpIjoiY1NSck9NdE5jVEZQQnJNeiIsInN1YiI6IjIiLCJwcnYiOiIyM2JkNWM4OTQ5ZjYwMGFkYjM5ZTcwMWM0MDA4NzJkYjdhNTk3NmY3In0.ucbLHAE1LFMg56h2klC-QxF3XJ4juIQ15Bxe0AzuWHM
                      token_type:
                        type: string
                        example: bearer
                      expires_in:
                        type: integer
                        example: 86400
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error:
                    code: 404
                    message: 'User not found'
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: 'User not found'
        406:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error:
                    code: 406
                    message: 'Validation error'
                    errors:
                      key: 'Поле обязательно для заполнения.'
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 406
                      message:
                        type: string
                        example: 'Validation error'
                      errors:
                        type: object
                        properties:
                          key:
                            type: string
                            example: 'Поле обязательно для заполнения.'
        429:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error:
                    code: 429
                    message: 'Too many requests'
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 429
                      message:
                        type: string
                        example: 'Too many requests'
      tags:
        - Авторизация
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: 'Идентификатор пользователя.'
                  example: 32145
                  nullable: false
                password:
                  type: string
                  description: 'Пароль пользователя.'
                  example: VQxZ0RZek1EV1dOZDRuUFJOSnlMdUs1M0JSQnpVVEV5MD18M2UzMzhhZjA0NmZhOTVlZD
                  nullable: false
              required:
                - id
                - password
      security: []
  /api/v1/auth/me:
    get:
      summary: 'Информация о текущем пользователе'
      operationId: ''
      description: 'Возвращает информацию о текущем авторизованном пользователе и его JWT токен.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 32145
                    access_token: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vMC4wLjAuMDoyMDgwL2FwaS92MS9hdXRoIiwiaWF0IjoxNzQ3ODIyNjEwLCJleHAiOjE3ODQxMTA2MTAsIm5iZiI6MTc0NzgyMjYxMCwianRpIjoiY1NSck9NdE5jVEZQQnJNeiIsInN1YiI6IjIiLCJwcnYiOiIyM2JkNWM4OTQ5ZjYwMGFkYjM5ZTcwMWM0MDA4NzJkYjdhNTk3NmY3In0.ucbLHAE1LFMg56h2klC-QxF3XJ4juIQ15Bxe0AzuWHM
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 32145
                      access_token:
                        type: string
                        example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vMC4wLjAuMDoyMDgwL2FwaS92MS9hdXRoIiwiaWF0IjoxNzQ3ODIyNjEwLCJleHAiOjE3ODQxMTA2MTAsIm5iZiI6MTc0NzgyMjYxMCwianRpIjoiY1NSck9NdE5jVEZQQnJNeiIsInN1YiI6IjIiLCJwcnYiOiIyM2JkNWM4OTQ5ZjYwMGFkYjM5ZTcwMWM0MDA4NzJkYjdhNTk3NmY3In0.ucbLHAE1LFMg56h2klC-QxF3XJ4juIQ15Bxe0AzuWHM
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error:
                    code: 401
                    message: Unauthorized
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 401
                      message:
                        type: string
                        example: Unauthorized
        429:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error:
                    code: 429
                    message: 'Too many requests'
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 429
                      message:
                        type: string
                        example: 'Too many requests'
      tags:
        - Авторизация
  /api/v1/auth/logout:
    get:
      summary: 'Выход из системы'
      operationId: ''
      description: 'Завершает сеанс текущего пользователя, удаляет JWT токен.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    message: 'Successfully logged out'
                properties:
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: 'Successfully logged out'
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error:
                    code: 401
                    message: Unauthorized
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 401
                      message:
                        type: string
                        example: Unauthorized
        429:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error:
                    code: 429
                    message: 'Too many requests'
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 429
                      message:
                        type: string
                        example: 'Too many requests'
      tags:
        - Авторизация
  /api/v1/bookings:
    get:
      summary: 'Получить бронирования в указанный промежуток'
      operationId: ''
      description: ''
      parameters:
        -
          in: query
          name: date_from
          description: "Дата начала выборки бронирований.\nПоле должно быть раньше date_to. Формат: Y-m-d или Y-m-d H:i:s"
          example: '2025-05-29 или 2025-05-29 14:30:00'
          required: true
          schema:
            type: string
            description: "Дата начала выборки бронирований.\nПоле должно быть раньше date_to. Формат: Y-m-d или Y-m-d H:i:s"
            example: '2025-05-29 или 2025-05-29 14:30:00'
            nullable: false
        -
          in: query
          name: date_to
          description: "Дата окончания выборки бронирований.\nПоле должно быть позже date_from. Формат: Y-m-d или Y-m-d H:i:s"
          example: '2025-05-30 или 2025-05-30 23:59:59'
          required: true
          schema:
            type: string
            description: "Дата окончания выборки бронирований.\nПоле должно быть позже date_from. Формат: Y-m-d или Y-m-d H:i:s"
            example: '2025-05-30 или 2025-05-30 23:59:59'
            nullable: false
        -
          in: query
          name: data_type
          description: "Тип запрашиваемых данных. По-умолчанию (без параметра) отображает все бронирования (по дате создания). Может принимать значения: <br>\ncheckmate - как на шахматке (booking.arrival <= date_to AND booking.departure >= date_from) <br>\nnew - новые (booking.create_date <= date_to AND booking.create_date >= date_from AND booking.status_id IN new, waiting) <br>\nliving - проживающие (booking.departure <= date_to AND booking.arrival >= date_from AND booking.status_id IN check_in) <br>\ncheckedIn - заезд (booking.arrival <= date_to AND booking.arrival >= date_from AND booking.status_id IN new, waiting) <br>\ncheckedOut - выезд (booking.departure <= date_to AND booking.departure >= date_from AND booking.status_id IN new, waiting, check_in) <br>\ncancelled - отмененные (booking.cancel_date <= date_to AND booking.cancel_date >= date_from AND booking.status_id IN cancelled) <br>\nexited - выехали (booking.departure <= date_to AND booking.departure >= date_from AND booking.status_id IN check_out) <br>\nchanged - измененные (booking.update_date <= date_to AND booking.update_date >= date_from)"
          example: checkmate
          required: false
          schema:
            type: string
            description: "Тип запрашиваемых данных. По-умолчанию (без параметра) отображает все бронирования (по дате создания). Может принимать значения: <br>\ncheckmate - как на шахматке (booking.arrival <= date_to AND booking.departure >= date_from) <br>\nnew - новые (booking.create_date <= date_to AND booking.create_date >= date_from AND booking.status_id IN new, waiting) <br>\nliving - проживающие (booking.departure <= date_to AND booking.arrival >= date_from AND booking.status_id IN check_in) <br>\ncheckedIn - заезд (booking.arrival <= date_to AND booking.arrival >= date_from AND booking.status_id IN new, waiting) <br>\ncheckedOut - выезд (booking.departure <= date_to AND booking.departure >= date_from AND booking.status_id IN new, waiting, check_in) <br>\ncancelled - отмененные (booking.cancel_date <= date_to AND booking.cancel_date >= date_from AND booking.status_id IN cancelled) <br>\nexited - выехали (booking.departure <= date_to AND booking.departure >= date_from AND booking.status_id IN check_out) <br>\nchanged - измененные (booking.update_date <= date_to AND booking.update_date >= date_from)"
            example: checkmate
            nullable: false
        -
          in: query
          name: limit
          description: 'Лимит записей. Поле не должно быть меньше 1. Поле не должно превышать 50.'
          example: 50
          required: true
          schema:
            type: integer
            description: 'Лимит записей. Поле не должно быть меньше 1. Поле не должно превышать 50.'
            example: 50
            nullable: false
        -
          in: query
          name: offset
          description: 'Количество записей которые нужно пропустить. Поле не должно быть меньше 0.'
          example: 0
          required: true
          schema:
            type: integer
            description: 'Количество записей которые нужно пропустить. Поле не должно быть меньше 0.'
            example: 0
            nullable: false
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    bookings:
                      -
                        id: 397
                        hotel_id: 24
                        number: 77LEK-231225
                        amount: 4
                        amount_provider: 0
                        is_blocked: false
                        link_id: 77LEK-231225
                        provider_booking_id: ''
                        guarantee: ''
                        plan_name: Стандартный
                        current_room_clean_status: null
                        room_name: '301'
                        early_check_in: false
                        late_check_out: false
                        unread: false
                        source:
                          id: 0
                          name: Прямое
                          icon: null
                          commission: null
                          ancillary_commission: 0
                        status:
                          id: 1
                          name: Новое
                          color: acd87f
                        customer:
                          id: 456
                          name: Имя
                          surname: Фамилия
                          phone: +7(901)123-34-56
                          email: test@mail.ru
                          notes: 'test notice'
                        dates:
                          create_date: '2025-12-23 08:11:21'
                          arrival: '2025-12-23 14:00:00+03'
                          departure: '2025-12-24 12:00:00+03'
                          real_arrival: '2025-12-23 14:00:00+03'
                          real_departure: '2025-12-24 12:00:00+03'
                          original_arrival: null
                          original_departure: null
                          cancel_date: null
                          update_date: '2026-01-26 11:28:54'
                        discount:
                          type: 0
                          amount: 0
                          reason_id: 0
                          reason: ''
                        extra:
                          adults: 2
                          children: 0
                        extra_provider: null
                        prices:
                          -
                            room_name: '1'
                            plan_name: Стандартный
                            room_type_name: 'Стандартные номера на одного или двоих'
                            price: 2500.0
                            policy: 'Бронирование можно отменить в любое время до заезда без штрафа.'
                            date: '2025-11-24'
                            room_type_id: 68
                            room_id: 70
                            real_room_type_id: 70
                        room_id: 68
                        room_type_id: 70
                        parent_room_type_id: 70
                        notes: 'Комментарий гостя'
                    meta:
                      total: 1
                      limit: 1
                      offset: 0
                properties:
                  data:
                    type: object
                    properties:
                      bookings:
                        type: array
                        example:
                          -
                            id: 397
                            hotel_id: 24
                            number: 77LEK-231225
                            amount: 4
                            amount_provider: 0
                            is_blocked: false
                            link_id: 77LEK-231225
                            provider_booking_id: ''
                            guarantee: ''
                            plan_name: Стандартный
                            current_room_clean_status: null
                            room_name: '301'
                            early_check_in: false
                            late_check_out: false
                            unread: false
                            source:
                              id: 0
                              name: Прямое
                              icon: null
                              commission: null
                              ancillary_commission: 0
                            status:
                              id: 1
                              name: Новое
                              color: acd87f
                            customer:
                              id: 456
                              name: Имя
                              surname: Фамилия
                              phone: +7(901)123-34-56
                              email: test@mail.ru
                              notes: 'test notice'
                            dates:
                              create_date: '2025-12-23 08:11:21'
                              arrival: '2025-12-23 14:00:00+03'
                              departure: '2025-12-24 12:00:00+03'
                              real_arrival: '2025-12-23 14:00:00+03'
                              real_departure: '2025-12-24 12:00:00+03'
                              original_arrival: null
                              original_departure: null
                              cancel_date: null
                              update_date: '2026-01-26 11:28:54'
                            discount:
                              type: 0
                              amount: 0
                              reason_id: 0
                              reason: ''
                            extra:
                              adults: 2
                              children: 0
                            extra_provider: null
                            prices:
                              -
                                room_name: '1'
                                plan_name: Стандартный
                                room_type_name: 'Стандартные номера на одного или двоих'
                                price: 2500
                                policy: 'Бронирование можно отменить в любое время до заезда без штрафа.'
                                date: '2025-11-24'
                                room_type_id: 68
                                room_id: 70
                                real_room_type_id: 70
                            room_id: 68
                            room_type_id: 70
                            parent_room_type_id: 70
                            notes: 'Комментарий гостя'
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 397
                            hotel_id:
                              type: integer
                              example: 24
                            number:
                              type: string
                              example: 77LEK-231225
                            amount:
                              type: integer
                              example: 4
                            amount_provider:
                              type: integer
                              example: 0
                            is_blocked:
                              type: boolean
                              example: false
                            link_id:
                              type: string
                              example: 77LEK-231225
                            provider_booking_id:
                              type: string
                              example: ''
                            guarantee:
                              type: string
                              example: ''
                            plan_name:
                              type: string
                              example: Стандартный
                            current_room_clean_status:
                              type: string
                              example: null
                            room_name:
                              type: string
                              example: '301'
                            early_check_in:
                              type: boolean
                              example: false
                            late_check_out:
                              type: boolean
                              example: false
                            unread:
                              type: boolean
                              example: false
                            source:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  example: 0
                                name:
                                  type: string
                                  example: Прямое
                                icon:
                                  type: string
                                  example: null
                                commission:
                                  type: string
                                  example: null
                                ancillary_commission:
                                  type: integer
                                  example: 0
                            status:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  example: 1
                                name:
                                  type: string
                                  example: Новое
                                color:
                                  type: string
                                  example: acd87f
                            customer:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  example: 456
                                name:
                                  type: string
                                  example: Имя
                                surname:
                                  type: string
                                  example: Фамилия
                                phone:
                                  type: string
                                  example: +7(901)123-34-56
                                email:
                                  type: string
                                  example: test@mail.ru
                                notes:
                                  type: string
                                  example: 'test notice'
                            dates:
                              type: object
                              properties:
                                create_date:
                                  type: string
                                  example: '2025-12-23 08:11:21'
                                arrival:
                                  type: string
                                  example: '2025-12-23 14:00:00+03'
                                departure:
                                  type: string
                                  example: '2025-12-24 12:00:00+03'
                                real_arrival:
                                  type: string
                                  example: '2025-12-23 14:00:00+03'
                                real_departure:
                                  type: string
                                  example: '2025-12-24 12:00:00+03'
                                original_arrival:
                                  type: string
                                  example: null
                                original_departure:
                                  type: string
                                  example: null
                                cancel_date:
                                  type: string
                                  example: null
                                update_date:
                                  type: string
                                  example: '2026-01-26 11:28:54'
                            discount:
                              type: object
                              properties:
                                type:
                                  type: integer
                                  example: 0
                                amount:
                                  type: integer
                                  example: 0
                                reason_id:
                                  type: integer
                                  example: 0
                                reason:
                                  type: string
                                  example: ''
                            extra:
                              type: object
                              properties:
                                adults:
                                  type: integer
                                  example: 2
                                children:
                                  type: integer
                                  example: 0
                            extra_provider:
                              type: string
                              example: null
                            prices:
                              type: array
                              example:
                                -
                                  room_name: '1'
                                  plan_name: Стандартный
                                  room_type_name: 'Стандартные номера на одного или двоих'
                                  price: 2500
                                  policy: 'Бронирование можно отменить в любое время до заезда без штрафа.'
                                  date: '2025-11-24'
                                  room_type_id: 68
                                  room_id: 70
                                  real_room_type_id: 70
                              items:
                                type: object
                                properties:
                                  room_name:
                                    type: string
                                    example: '1'
                                  plan_name:
                                    type: string
                                    example: Стандартный
                                  room_type_name:
                                    type: string
                                    example: 'Стандартные номера на одного или двоих'
                                  price:
                                    type: number
                                    example: 2500.0
                                  policy:
                                    type: string
                                    example: 'Бронирование можно отменить в любое время до заезда без штрафа.'
                                  date:
                                    type: string
                                    example: '2025-11-24'
                                  room_type_id:
                                    type: integer
                                    example: 68
                                  room_id:
                                    type: integer
                                    example: 70
                                  real_room_type_id:
                                    type: integer
                                    example: 70
                            room_id:
                              type: integer
                              example: 68
                            room_type_id:
                              type: integer
                              example: 70
                            parent_room_type_id:
                              type: integer
                              example: 70
                            notes:
                              type: string
                              example: 'Комментарий гостя'
                      meta:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 1
                          limit:
                            type: integer
                            example: 1
                          offset:
                            type: integer
                            example: 0
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error:
                    code: 401
                    message: Unauthorized
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 401
                      message:
                        type: string
                        example: Unauthorized
        406:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error:
                    code: 406
                    message: 'Validation error'
                    errors:
                      key: 'Поле обязательно для заполнения.'
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 406
                      message:
                        type: string
                        example: 'Validation error'
                      errors:
                        type: object
                        properties:
                          key:
                            type: string
                            example: 'Поле обязательно для заполнения.'
        429:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error:
                    code: 429
                    message: 'Too many requests'
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 429
                      message:
                        type: string
                        example: 'Too many requests'
      tags:
        - 'Старт -> Бронирования'
  '/api/v1/bookings/{id}':
    get:
      summary: 'Получить бронирование по id'
      operationId: Id
      description: ''
      parameters:
        -
          in: query
          name: with_linked
          description: 'Включить связанные брони.'
          example: false
          required: false
          schema:
            type: boolean
            description: 'Включить связанные брони.'
            example: false
            nullable: false
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 397
                    hotel_id: 24
                    number: 77LEK-231225
                    amount: 4
                    amount_provider: 0
                    is_blocked: false
                    link_id: 77LEK-231225
                    provider_booking_id: ''
                    guarantee: ''
                    is_guarantee_encrypted: false
                    payments_total: 6000
                    customers_total: 2
                    plan_name: Стандартный
                    current_room_clean_status: null
                    room_name: '301'
                    early_check_in: false
                    late_check_out: false
                    unread: false
                    discount:
                      type: 0
                      amount: 0
                      reason_id: 0
                      reason: ''
                    dates:
                      create_date: '2025-12-23 08:11:21'
                      arrival: '2025-12-23 14:00:00+03'
                      departure: '2025-12-24 12:00:00+03'
                      real_arrival: '2025-12-23 14:00:00+03'
                      real_departure: '2025-12-24 12:00:00+03'
                      original_arrival: null
                      original_departure: null
                      cancel_date: null
                      update_date: '2026-01-26 11:28:54'
                    extra:
                      adults: 2
                      children: 0
                    source:
                      id: 0
                      name: Прямое
                      icon: null
                      commission: null
                      ancillary_commission: 0
                    status:
                      id: 1
                      name: Новое
                      color: acd87f
                    customer:
                      id: 456
                      name: Имя
                      surname: Фамилия
                      phone: +7(901)123-34-56
                      email: test@mail.ru
                      notes: 'test notice'
                    supplier:
                      id: 0
                      name: null
                    agency:
                      id: 0
                      name: null
                      commission: 0
                      not_pay_services_commission: 0
                    actual_price:
                      id: 1495
                      date: '2025-12-23'
                      price: 4
                      policy: 'Бронирование можно отменить в любое время до заезда без штрафа.'
                      room_name: '301'
                      service_name: ''
                      service_type: ''
                      plan_id: 29
                      room_id: 32
                      room_type_id: 73
                      parent_room_type_id: 73
                      initial_room_type_id: 77
                      parent_initial_room_type_id: 76
                    customers:
                      -
                        id: 456
                        name: Имя
                        surname: Фамилия
                        phone: +7(901)123-34-56
                        email: test@mail.ru
                        notes: 'test notice'
                      -
                        id: 457
                        name: Имя
                        surname: Фамилия
                        phone: +7(901)354-64-53
                        email: test@email.ru
                        notes: Примечания
                    prices:
                      -
                        id: 1495
                        date: '2025-12-23'
                        price: 4
                        policy: 'Бронирование можно отменить в любое время до заезда без штрафа.'
                        room_name: '301'
                        service_name: ''
                        service_type: ''
                        plan_id: 29
                        room_id: 32
                        room_type_id: 73
                        parent_room_type_id: 73
                        initial_room_type_id: 77
                        parent_initial_room_type_id: 76
                    prices_all:
                      -
                        id: 1496
                        date: '2025-12-23'
                        price: 2500
                        policy: null
                        room_name: ''
                        service_name: Обед
                        service_type: board
                        plan_id: 0
                        room_id: 0
                        room_type_id: 0
                        parent_room_type_id: 0
                        initial_room_type_id: 0
                        parent_initial_room_type_id: 0
                      -
                        id: 1498
                        date: '2025-12-23'
                        price: 6897
                        policy: null
                        room_name: ''
                        service_name: 'Пакет питания'
                        service_type: board
                        plan_id: 0
                        room_id: 0
                        room_type_id: 0
                        parent_room_type_id: 0
                        initial_room_type_id: 0
                        parent_initial_room_type_id: 0
                      -
                        id: 1495
                        date: '2025-12-23'
                        price: 4
                        policy: 'Бронирование можно отменить в любое время до заезда без штрафа.'
                        room_name: '301'
                        service_name: ''
                        service_type: ''
                        plan_id: 29
                        room_id: 32
                        room_type_id: 73
                        parent_room_type_id: 73
                        initial_room_type_id: 77
                        parent_initial_room_type_id: 76
                      -
                        id: 1497
                        date: '2025-12-24'
                        price: 2500
                        policy: null
                        room_name: ''
                        service_name: Обед
                        service_type: board
                        plan_id: 0
                        room_id: 0
                        room_type_id: 0
                        parent_room_type_id: 0
                        initial_room_type_id: 0
                        parent_initial_room_type_id: 0
                    extra_provider: null
                    plan_id: 29
                    room_id: 78
                    room_type_id: 77
                    parent_room_type_id: 76
                    initial_room_type_id: 77
                    parent_initial_room_type_id: 76
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 397
                      hotel_id:
                        type: integer
                        example: 24
                      number:
                        type: string
                        example: 77LEK-231225
                      amount:
                        type: integer
                        example: 4
                      amount_provider:
                        type: integer
                        example: 0
                      is_blocked:
                        type: boolean
                        example: false
                      link_id:
                        type: string
                        example: 77LEK-231225
                      provider_booking_id:
                        type: string
                        example: ''
                      guarantee:
                        type: string
                        example: ''
                      is_guarantee_encrypted:
                        type: boolean
                        example: false
                      payments_total:
                        type: integer
                        example: 6000
                      customers_total:
                        type: integer
                        example: 2
                      plan_name:
                        type: string
                        example: Стандартный
                      current_room_clean_status:
                        type: string
                        example: null
                      room_name:
                        type: string
                        example: '301'
                      early_check_in:
                        type: boolean
                        example: false
                      late_check_out:
                        type: boolean
                        example: false
                      unread:
                        type: boolean
                        example: false
                      discount:
                        type: object
                        properties:
                          type:
                            type: integer
                            example: 0
                          amount:
                            type: integer
                            example: 0
                          reason_id:
                            type: integer
                            example: 0
                          reason:
                            type: string
                            example: ''
                      dates:
                        type: object
                        properties:
                          create_date:
                            type: string
                            example: '2025-12-23 08:11:21'
                          arrival:
                            type: string
                            example: '2025-12-23 14:00:00+03'
                          departure:
                            type: string
                            example: '2025-12-24 12:00:00+03'
                          real_arrival:
                            type: string
                            example: '2025-12-23 14:00:00+03'
                          real_departure:
                            type: string
                            example: '2025-12-24 12:00:00+03'
                          original_arrival:
                            type: string
                            example: null
                          original_departure:
                            type: string
                            example: null
                          cancel_date:
                            type: string
                            example: null
                          update_date:
                            type: string
                            example: '2026-01-26 11:28:54'
                      extra:
                        type: object
                        properties:
                          adults:
                            type: integer
                            example: 2
                          children:
                            type: integer
                            example: 0
                      source:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 0
                          name:
                            type: string
                            example: Прямое
                          icon:
                            type: string
                            example: null
                          commission:
                            type: string
                            example: null
                          ancillary_commission:
                            type: integer
                            example: 0
                      status:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: Новое
                          color:
                            type: string
                            example: acd87f
                      customer:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 456
                          name:
                            type: string
                            example: Имя
                          surname:
                            type: string
                            example: Фамилия
                          phone:
                            type: string
                            example: +7(901)123-34-56
                          email:
                            type: string
                            example: test@mail.ru
                          notes:
                            type: string
                            example: 'test notice'
                      supplier:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 0
                          name:
                            type: string
                            example: null
                      agency:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 0
                          name:
                            type: string
                            example: null
                          commission:
                            type: integer
                            example: 0
                          not_pay_services_commission:
                            type: integer
                            example: 0
                      actual_price:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1495
                          date:
                            type: string
                            example: '2025-12-23'
                          price:
                            type: integer
                            example: 4
                          policy:
                            type: string
                            example: 'Бронирование можно отменить в любое время до заезда без штрафа.'
                          room_name:
                            type: string
                            example: '301'
                          service_name:
                            type: string
                            example: ''
                          service_type:
                            type: string
                            example: ''
                          plan_id:
                            type: integer
                            example: 29
                          room_id:
                            type: integer
                            example: 32
                          room_type_id:
                            type: integer
                            example: 73
                          parent_room_type_id:
                            type: integer
                            example: 73
                          initial_room_type_id:
                            type: integer
                            example: 77
                          parent_initial_room_type_id:
                            type: integer
                            example: 76
                      customers:
                        type: array
                        example:
                          -
                            id: 456
                            name: Имя
                            surname: Фамилия
                            phone: +7(901)123-34-56
                            email: test@mail.ru
                            notes: 'test notice'
                          -
                            id: 457
                            name: Имя
                            surname: Фамилия
                            phone: +7(901)354-64-53
                            email: test@email.ru
                            notes: Примечания
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 456
                            name:
                              type: string
                              example: Имя
                            surname:
                              type: string
                              example: Фамилия
                            phone:
                              type: string
                              example: +7(901)123-34-56
                            email:
                              type: string
                              example: test@mail.ru
                            notes:
                              type: string
                              example: 'test notice'
                      prices:
                        type: array
                        example:
                          -
                            id: 1495
                            date: '2025-12-23'
                            price: 4
                            policy: 'Бронирование можно отменить в любое время до заезда без штрафа.'
                            room_name: '301'
                            service_name: ''
                            service_type: ''
                            plan_id: 29
                            room_id: 32
                            room_type_id: 73
                            parent_room_type_id: 73
                            initial_room_type_id: 77
                            parent_initial_room_type_id: 76
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1495
                            date:
                              type: string
                              example: '2025-12-23'
                            price:
                              type: integer
                              example: 4
                            policy:
                              type: string
                              example: 'Бронирование можно отменить в любое время до заезда без штрафа.'
                            room_name:
                              type: string
                              example: '301'
                            service_name:
                              type: string
                              example: ''
                            service_type:
                              type: string
                              example: ''
                            plan_id:
                              type: integer
                              example: 29
                            room_id:
                              type: integer
                              example: 32
                            room_type_id:
                              type: integer
                              example: 73
                            parent_room_type_id:
                              type: integer
                              example: 73
                            initial_room_type_id:
                              type: integer
                              example: 77
                            parent_initial_room_type_id:
                              type: integer
                              example: 76
                      prices_all:
                        type: array
                        example:
                          -
                            id: 1496
                            date: '2025-12-23'
                            price: 2500
                            policy: null
                            room_name: ''
                            service_name: Обед
                            service_type: board
                            plan_id: 0
                            room_id: 0
                            room_type_id: 0
                            parent_room_type_id: 0
                            initial_room_type_id: 0
                            parent_initial_room_type_id: 0
                          -
                            id: 1498
                            date: '2025-12-23'
                            price: 6897
                            policy: null
                            room_name: ''
                            service_name: 'Пакет питания'
                            service_type: board
                            plan_id: 0
                            room_id: 0
                            room_type_id: 0
                            parent_room_type_id: 0
                            initial_room_type_id: 0
                            parent_initial_room_type_id: 0
                          -
                            id: 1495
                            date: '2025-12-23'
                            price: 4
                            policy: 'Бронирование можно отменить в любое время до заезда без штрафа.'
                            room_name: '301'
                            service_name: ''
                            service_type: ''
                            plan_id: 29
                            room_id: 32
                            room_type_id: 73
                            parent_room_type_id: 73
                            initial_room_type_id: 77
                            parent_initial_room_type_id: 76
                          -
                            id: 1497
                            date: '2025-12-24'
                            price: 2500
                            policy: null
                            room_name: ''
                            service_name: Обед
                            service_type: board
                            plan_id: 0
                            room_id: 0
                            room_type_id: 0
                            parent_room_type_id: 0
                            initial_room_type_id: 0
                            parent_initial_room_type_id: 0
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1496
                            date:
                              type: string
                              example: '2025-12-23'
                            price:
                              type: integer
                              example: 2500
                            policy:
                              type: string
                              example: null
                            room_name:
                              type: string
                              example: ''
                            service_name:
                              type: string
                              example: Обед
                            service_type:
                              type: string
                              example: board
                            plan_id:
                              type: integer
                              example: 0
                            room_id:
                              type: integer
                              example: 0
                            room_type_id:
                              type: integer
                              example: 0
                            parent_room_type_id:
                              type: integer
                              example: 0
                            initial_room_type_id:
                              type: integer
                              example: 0
                            parent_initial_room_type_id:
                              type: integer
                              example: 0
                      extra_provider:
                        type: string
                        example: null
                      plan_id:
                        type: integer
                        example: 29
                      room_id:
                        type: integer
                        example: 78
                      room_type_id:
                        type: integer
                        example: 77
                      parent_room_type_id:
                        type: integer
                        example: 76
                      initial_room_type_id:
                        type: integer
                        example: 77
                      parent_initial_room_type_id:
                        type: integer
                        example: 76
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error:
                    code: 401
                    message: Unauthorized
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 401
                      message:
                        type: string
                        example: Unauthorized
        406:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error:
                    code: 406
                    message: 'Validation error'
                    errors:
                      key: 'Поле обязательно для заполнения.'
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 406
                      message:
                        type: string
                        example: 'Validation error'
                      errors:
                        type: object
                        properties:
                          key:
                            type: string
                            example: 'Поле обязательно для заполнения.'
        429:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error:
                    code: 429
                    message: 'Too many requests'
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 429
                      message:
                        type: string
                        example: 'Too many requests'
      tags:
        - 'Старт -> Бронирования'
    parameters:
      -
        in: path
        name: id
        description: 'Id бронирования'
        example: 1
        required: true
        schema:
          type: integer
  '/api/v1/bookings/{id}/customer':
    get:
      summary: 'Получить заказчика бронирования по id'
      operationId: Id
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    booking_id: 474
                    group_id: 0
                    customer_id: 403
                    surname: Иван
                    name: Иванов
                    phone: '+7 (912) 345-67-89'
                    email: 'mail@domain.com '
                    customers_tags:
                      - 1234
                      - 5678
                    notes: 'Постоянный клиент'
                properties:
                  data:
                    type: object
                    properties:
                      booking_id:
                        type: integer
                        example: 474
                      group_id:
                        type: integer
                        example: 0
                      customer_id:
                        type: integer
                        example: 403
                      surname:
                        type: string
                        example: Иван
                      name:
                        type: string
                        example: Иванов
                      phone:
                        type: string
                        example: '+7 (912) 345-67-89'
                      email:
                        type: string
                        example: 'mail@domain.com '
                      customers_tags:
                        type: array
                        example:
                          - 1234
                          - 5678
                        items:
                          type: integer
                      notes:
                        type: string
                        example: 'Постоянный клиент'
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error:
                    code: 401
                    message: Unauthorized
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 401
                      message:
                        type: string
                        example: Unauthorized
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error:
                    code: 403
                    message: 'Access denied'
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 403
                      message:
                        type: string
                        example: 'Access denied'
        406:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error:
                    code: 406
                    message: 'Validation error'
                    errors:
                      key: 'Поле обязательно для заполнения.'
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 406
                      message:
                        type: string
                        example: 'Validation error'
                      errors:
                        type: object
                        properties:
                          key:
                            type: string
                            example: 'Поле обязательно для заполнения.'
        429:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error:
                    code: 429
                    message: 'Too many requests'
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 429
                      message:
                        type: string
                        example: 'Too many requests'
      tags:
        - 'Профессионал -> Бронирования'
    parameters:
      -
        in: path
        name: id
        description: 'Id бронирования'
        example: 1
        required: true
        schema:
          type: integer
  '/api/v1/bookings/{id}/invoices':
    get:
      summary: 'Получить счета по бронированию'
      operationId: ''
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    invoices:
                      -
                        id: 44
                        number: '10'
                        hotel_id: 24
                        booking_id: 397
                        supplier_id: 33
                        hotel_supplier_id: 31
                        customer_id: 0
                        user_id: 31
                        type_id: 1
                        supplier_type_id: 1
                        amount: 11901
                        deadline_date: null
                        message: null
                        payer_name: 'Фамилия Имя'
                        vat: '0'
                        services:
                          -
                            service_id: 0
                            name: 'Проживание с 23.12.2025 (14:00) по 24.12.2025 (12:00), Наценки (4 взр = 2 осн + 2 доп), Имя Фамилия, Имя Фамилия'
                            count: 1
                            unit_type: 1
                            amount_without_nds: 4
                            amount_nds: ''
                            amount: 4
                            payment_method: null
                            payment_object: null
                            price_per_unit: null
                            excise_sum: 0
                            nds_value: null
                            origin_country: 0
                            customs_doc_number: ''
                          -
                            service_id: 12
                            name: 'Обед, с 23.12.2025 по 24.12.2025'
                            count: 10
                            unit_type: 2
                            amount_without_nds: 500
                            amount_nds: ''
                            amount: 5000
                            payment_method: null
                            payment_object: null
                            price_per_unit: null
                            excise_sum: 0
                            nds_value: null
                            origin_country: 0
                            customs_doc_number: ''
                          -
                            service_id: 13
                            name: 'Пакет питания, 23.12.2025'
                            count: 1
                            unit_type: 2
                            amount_without_nds: 6897
                            amount_nds: ''
                            amount: 6897
                            payment_method: null
                            payment_object: null
                            price_per_unit: null
                            excise_sum: 0
                            nds_value: null
                            origin_country: 0
                            customs_doc_number: ''
                        deleted: 0
                        amount_nds: null
                        online_number: '0'
                        online_hash: ''
                        online_link: ''
                        payed_amount: 5000
                        unread: 0
                        paid_from_system: 0
                        message_for_invoices: 'Внимание! Оплата должна быть произведена единовременно в размере 100% от суммы счета. Частичные оплаты к зачислению не принимаются. Пожалуйста, для ускорения процесса зачисления денежных средств, указывайте в самом начале текста в Назначении Платежа номер счета и двоеточие. Например, "32: Наименование услуги"'
                        group_id: 0
                        tax_system_id: null
                        update_date: '2025-12-23 08:59:46'
                        create_date: '2025-12-23 08:39:44'
                        payment_systems: []
                        payment_system_ids: []
                        denied_from_system: 0
                        deactivated: 0
                        refunded: 0
                        supplier: 'Юр лицо'
                        hotel_supplier: ur
                        customer: ''
                        payment_system_name: ''
                        denied_payment_system_name: ''
                      -
                        id: 45
                        number: '11'
                        hotel_id: 24
                        booking_id: 397
                        supplier_id: 0
                        hotel_supplier_id: 31
                        customer_id: 0
                        user_id: 31
                        type_id: 1
                        supplier_type_id: 2
                        amount: 6901
                        deadline_date: '2025-12-25'
                        message: null
                        payer_name: 'Фамилия Имя'
                        vat: '0'
                        services:
                          -
                            service_id: 0
                            name: 'Проживание с 23.12.2025 (14:00) по 24.12.2025 (12:00), Наценки (4 взр = 2 осн + 2 доп), Имя Фамилия, Имя Фамилия'
                            count: 1
                            unit_type: 1
                            amount_without_nds: 4
                            amount_nds: ''
                            amount: 4
                            payment_method: null
                            payment_object: null
                            price_per_unit: null
                            excise_sum: 0
                            nds_value: null
                            origin_country: 0
                            customs_doc_number: ''
                          -
                            service_id: 13
                            name: 'Пакет питания, 23.12.2025'
                            count: 1
                            unit_type: 2
                            amount_without_nds: 6897
                            amount_nds: ''
                            amount: 6897
                            payment_method: null
                            payment_object: null
                            price_per_unit: null
                            excise_sum: 0
                            nds_value: null
                            origin_country: 0
                            customs_doc_number: ''
                        deleted: 0
                        amount_nds: null
                        online_number: '0'
                        online_hash: ''
                        online_link: ''
                        payed_amount: 0
                        unread: 0
                        paid_from_system: 0
                        message_for_invoices: 'Внимание! Оплата должна быть произведена единовременно в размере 100% от суммы счета. Частичные оплаты к зачислению не принимаются. Пожалуйста, для ускорения процесса зачисления денежных средств, указывайте в самом начале текста в Назначении Платежа номер счета и двоеточие. Например, "32: Наименование услуги"'
                        group_id: 0
                        tax_system_id: null
                        update_date: null
                        create_date: '2025-12-23 08:40:38'
                        payment_systems: []
                        payment_system_ids: []
                        denied_from_system: 0
                        deactivated: 0
                        refunded: 0
                        supplier: ''
                        hotel_supplier: ur
                        customer: ''
                        payment_system_name: ''
                        denied_payment_system_name: ''
                      -
                        id: 46
                        number: '12'
                        hotel_id: 24
                        booking_id: 397
                        supplier_id: 0
                        hotel_supplier_id: 31
                        customer_id: 0
                        user_id: 31
                        type_id: 2
                        supplier_type_id: 2
                        amount: 11901
                        deadline_date: null
                        message: 'Оплата за бронирование 77LEK-231225'
                        payer_name: 'Фамилия Имя'
                        vat: '0'
                        services:
                          -
                            service_id: 0
                            name: 'Проживание с 23.12.2025 (14:00) по 24.12.2025 (12:00), Наценки (4 взр = 2 осн + 2 доп), Имя Фамилия, Имя Фамилия'
                            count: 1
                            unit_type: 1
                            amount_without_nds: 4
                            amount_nds: ''
                            amount: 4
                            payment_method: null
                            payment_object: null
                            price_per_unit: null
                            excise_sum: 0
                            nds_value: null
                            origin_country: 0
                            customs_doc_number: ''
                          -
                            service_id: 12
                            name: 'Обед, с 23.12.2025 по 24.12.2025'
                            count: 10
                            unit_type: 2
                            amount_without_nds: 500
                            amount_nds: ''
                            amount: 5000
                            payment_method: null
                            payment_object: null
                            price_per_unit: null
                            excise_sum: 0
                            nds_value: null
                            origin_country: 0
                            customs_doc_number: ''
                          -
                            service_id: 13
                            name: 'Пакет питания, 23.12.2025'
                            count: 1
                            unit_type: 2
                            amount_without_nds: 6897
                            amount_nds: ''
                            amount: 6897
                            payment_method: null
                            payment_object: null
                            price_per_unit: null
                            excise_sum: 0
                            nds_value: null
                            origin_country: 0
                            customs_doc_number: ''
                        deleted: 0
                        amount_nds: null
                        online_number: '0'
                        online_hash: ''
                        online_link: ''
                        payed_amount: 900
                        unread: 0
                        paid_from_system: 0
                        message_for_invoices: ''
                        group_id: 0
                        tax_system_id: null
                        update_date: '2025-12-23 09:01:21'
                        create_date: '2025-12-23 08:41:17'
                        payment_systems: []
                        payment_system_ids: []
                        denied_from_system: 0
                        deactivated: 0
                        refunded: 0
                        supplier: ''
                        hotel_supplier: ur
                        customer: ''
                        payment_system_name: ''
                        denied_payment_system_name: ''
                properties:
                  data:
                    type: object
                    properties:
                      invoices:
                        type: array
                        example:
                          -
                            id: 44
                            number: '10'
                            hotel_id: 24
                            booking_id: 397
                            supplier_id: 33
                            hotel_supplier_id: 31
                            customer_id: 0
                            user_id: 31
                            type_id: 1
                            supplier_type_id: 1
                            amount: 11901
                            deadline_date: null
                            message: null
                            payer_name: 'Фамилия Имя'
                            vat: '0'
                            services:
                              -
                                service_id: 0
                                name: 'Проживание с 23.12.2025 (14:00) по 24.12.2025 (12:00), Наценки (4 взр = 2 осн + 2 доп), Имя Фамилия, Имя Фамилия'
                                count: 1
                                unit_type: 1
                                amount_without_nds: 4
                                amount_nds: ''
                                amount: 4
                                payment_method: null
                                payment_object: null
                                price_per_unit: null
                                excise_sum: 0
                                nds_value: null
                                origin_country: 0
                                customs_doc_number: ''
                              -
                                service_id: 12
                                name: 'Обед, с 23.12.2025 по 24.12.2025'
                                count: 10
                                unit_type: 2
                                amount_without_nds: 500
                                amount_nds: ''
                                amount: 5000
                                payment_method: null
                                payment_object: null
                                price_per_unit: null
                                excise_sum: 0
                                nds_value: null
                                origin_country: 0
                                customs_doc_number: ''
                              -
                                service_id: 13
                                name: 'Пакет питания, 23.12.2025'
                                count: 1
                                unit_type: 2
                                amount_without_nds: 6897
                                amount_nds: ''
                                amount: 6897
                                payment_method: null
                                payment_object: null
                                price_per_unit: null
                                excise_sum: 0
                                nds_value: null
                                origin_country: 0
                                customs_doc_number: ''
                            deleted: 0
                            amount_nds: null
                            online_number: '0'
                            online_hash: ''
                            online_link: ''
                            payed_amount: 5000
                            unread: 0
                            paid_from_system: 0
                            message_for_invoices: 'Внимание! Оплата должна быть произведена единовременно в размере 100% от суммы счета. Частичные оплаты к зачислению не принимаются. Пожалуйста, для ускорения процесса зачисления денежных средств, указывайте в самом начале текста в Назначении Платежа номер счета и двоеточие. Например, "32: Наименование услуги"'
                            group_id: 0
                            tax_system_id: null
                            update_date: '2025-12-23 08:59:46'
                            create_date: '2025-12-23 08:39:44'
                            payment_systems: []
                            payment_system_ids: []
                            denied_from_system: 0
                            deactivated: 0
                            refunded: 0
                            supplier: 'Юр лицо'
                            hotel_supplier: ur
                            customer: ''
                            payment_system_name: ''
                            denied_payment_system_name: ''
                          -
                            id: 45
                            number: '11'
                            hotel_id: 24
                            booking_id: 397
                            supplier_id: 0
                            hotel_supplier_id: 31
                            customer_id: 0
                            user_id: 31
                            type_id: 1
                            supplier_type_id: 2
                            amount: 6901
                            deadline_date: '2025-12-25'
                            message: null
                            payer_name: 'Фамилия Имя'
                            vat: '0'
                            services:
                              -
                                service_id: 0
                                name: 'Проживание с 23.12.2025 (14:00) по 24.12.2025 (12:00), Наценки (4 взр = 2 осн + 2 доп), Имя Фамилия, Имя Фамилия'
                                count: 1
                                unit_type: 1
                                amount_without_nds: 4
                                amount_nds: ''
                                amount: 4
                                payment_method: null
                                payment_object: null
                                price_per_unit: null
                                excise_sum: 0
                                nds_value: null
                                origin_country: 0
                                customs_doc_number: ''
                              -
                                service_id: 13
                                name: 'Пакет питания, 23.12.2025'
                                count: 1
                                unit_type: 2
                                amount_without_nds: 6897
                                amount_nds: ''
                                amount: 6897
                                payment_method: null
                                payment_object: null
                                price_per_unit: null
                                excise_sum: 0
                                nds_value: null
                                origin_country: 0
                                customs_doc_number: ''
                            deleted: 0
                            amount_nds: null
                            online_number: '0'
                            online_hash: ''
                            online_link: ''
                            payed_amount: 0
                            unread: 0
                            paid_from_system: 0
                            message_for_invoices: 'Внимание! Оплата должна быть произведена единовременно в размере 100% от суммы счета. Частичные оплаты к зачислению не принимаются. Пожалуйста, для ускорения процесса зачисления денежных средств, указывайте в самом начале текста в Назначении Платежа номер счета и двоеточие. Например, "32: Наименование услуги"'
                            group_id: 0
                            tax_system_id: null
                            update_date: null
                            create_date: '2025-12-23 08:40:38'
                            payment_systems: []
                            payment_system_ids: []
                            denied_from_system: 0
                            deactivated: 0
                            refunded: 0
                            supplier: ''
                            hotel_supplier: ur
                            customer: ''
                            payment_system_name: ''
                            denied_payment_system_name: ''
                          -
                            id: 46
                            number: '12'
                            hotel_id: 24
                            booking_id: 397
                            supplier_id: 0
                            hotel_supplier_id: 31
                            customer_id: 0
                            user_id: 31
                            type_id: 2
                            supplier_type_id: 2
                            amount: 11901
                            deadline_date: null
                            message: 'Оплата за бронирование 77LEK-231225'
                            payer_name: 'Фамилия Имя'
                            vat: '0'
                            services:
                              -
                                service_id: 0
                                name: 'Проживание с 23.12.2025 (14:00) по 24.12.2025 (12:00), Наценки (4 взр = 2 осн + 2 доп), Имя Фамилия, Имя Фамилия'
                                count: 1
                                unit_type: 1
                                amount_without_nds: 4
                                amount_nds: ''
                                amount: 4
                                payment_method: null
                                payment_object: null
                                price_per_unit: null
                                excise_sum: 0
                                nds_value: null
                                origin_country: 0
                                customs_doc_number: ''
                              -
                                service_id: 12
                                name: 'Обед, с 23.12.2025 по 24.12.2025'
                                count: 10
                                unit_type: 2
                                amount_without_nds: 500
                                amount_nds: ''
                                amount: 5000
                                payment_method: null
                                payment_object: null
                                price_per_unit: null
                                excise_sum: 0
                                nds_value: null
                                origin_country: 0
                                customs_doc_number: ''
                              -
                                service_id: 13
                                name: 'Пакет питания, 23.12.2025'
                                count: 1
                                unit_type: 2
                                amount_without_nds: 6897
                                amount_nds: ''
                                amount: 6897
                                payment_method: null
                                payment_object: null
                                price_per_unit: null
                                excise_sum: 0
                                nds_value: null
                                origin_country: 0
                                customs_doc_number: ''
                            deleted: 0
                            amount_nds: null
                            online_number: '0'
                            online_hash: ''
                            online_link: ''
                            payed_amount: 900
                            unread: 0
                            paid_from_system: 0
                            message_for_invoices: ''
                            group_id: 0
                            tax_system_id: null
                            update_date: '2025-12-23 09:01:21'
                            create_date: '2025-12-23 08:41:17'
                            payment_systems: []
                            payment_system_ids: []
                            denied_from_system: 0
                            deactivated: 0
                            refunded: 0
                            supplier: ''
                            hotel_supplier: ur
                            customer: ''
[...]
